<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- navbar -->

    <%- include ("./partials/general-navbar.ejs") %>

    <!-- HERO -->

    <!-- FOOTER -->
    <footer class="footer">&copy; Reality news App</footer>

    <!-- SCRIPTS -->
    <%- include("./partials/script.ejs") %>
    <script>
      const allHeroSlideList = document.querySelectorAll(".news-slide li");

      const slideItem = [...allHeroSlideList];
      let num = 0;
      setInterval(() => {
        slideItem[num].classList.toggle("slide-in");
        slideItem[num].style.transform = "translateY(30px)";

        if (num == 2) {
          return (num = 0);
        }
        num = num + 1;
      }, 5000);
    </script>
  </body>
</html>
