<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container mt-5 w-80 border p-4">
      <form id="resetpasswordform">
        <h5>Enter new password</h5>
        <div class="form-group">
          <label for="password">New password</label>
          <input
            type="text"
            name="password"
            class="form-control"
            id="password"
            required
          />
        </div>
        <input type="submit" class="btn btn-sm btn-primary" />
      </form>
    </div>

    <script>
      function resetPassword() {
        document
          .getElementById("resetpasswordform")
          .addEventListener("submit", function (e) {
            e.preventDefault();
            const token = window.location.href.split("=")[1];

            const password = this.querySelector("#password");

            const body = { password: password.value };
            fetch(`/api/authentication/resetpassword?token=${token}`, {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(body),
            })
              .then((res) => res.json())
              .then((data) => {
                console.log(data);
                window.location.replace(data);
              })
              .catch((err) => console.log(err));
          });
      }
      resetPassword();
    </script>
  </body>
</html>
